/* Space out content a bit */
body {
  padding-top: 20px;
  padding-bottom: 20px;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
}

/* ======================
	Game Elements 
=========================*/
.game{
	width: 364px;
	height: 350px;
	margin: 0 auto;
	text-align: center;
}

.game ul{
	position: relative;
	left: -25px;
}

.square{
	width: 100px;
	height: 100px;
	list-style: none;
	border: solid 2px #111;
	float: left;
	text-align: center;
	font-size: 50px;
	border-radius: 8px;
	margin: 2px;
	cursor: pointer;
    color: #111;
}

.square div{
	width: 100px;
	height: 100px;
	border-radius: 4px;
	line-height: 100px;
}