<div class="header">
    <h3 class="text-muted">IA - 8 Puzzle</h3>
</div>

<div class="game">
		<ul>
			<li id="sq-1" class="square">
				<div id="pc-1">1</div>
			</li>
			<li id="sq-2" class="square">
				<div id="pc-2">2</div>
			</li>
			<li id="sq-3" class="square">
				<div id="pc-3">3</div>
			</li>
			<li id="sq-4" class="square">
				<div id="pc-4">4</div>
			</li>
			<li id="sq-5" class="square">
				<div id="pc-5">5</div>
			</li>
			<li id="sq-6" class="square">
				<div id="pc-6">6</div>
			</li>
			<li id="sq-7" class="square">
				<div id="pc-7">7</div>
			</li>
			<li id="sq-8" class="square">
				<div id="pc-8">8</div>
			</li>
			<li id="sq-9" class="square free">
			</li>
		</ul>
	</div>
